/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mycontainer {
  margin: 10px 100px 10px 100px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.h1 {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 120px;
  text-transform: uppercase;
  color: #0066ff;
  font-weight: bold;
}

.h2 {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 100px;
  text-transform: uppercase;
  color: #0066ff;
  font-weight: bold;
}

.p {
  margin-left: 10px;
  font-size: 20px;
  text-transform: capitalize;
}

.floatdiv {
  position: absolute;
  top: 200px;
  left: 50px;
}

.bodytext {
  font-size: 16px;
}

.title{
  font-size: 20px;
  color: #0066ff;
}

.titleheader{
  font-size: 30px;
  color: #0066ff;
}
