/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  background-color: limegreen;
  color: #ffffff;
  font-weight: 500;
}

.snackbar-error {
  background-color: tomato;
  color: #ffffff;
  font-weight: 500;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}

.color_accent {
  color: #ffd740 !important;
}

.color_primary {
  color: #673ab7 !important;
}

.cursor_pointer {
  cursor: pointer;
}

.header-img {
  width: 100%;
  margin-top: 10px;
}
