/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  background-color: limegreen;
  color: #ffffff;
  font-weight: 500;
}

.snackbar-error {
  background-color: tomato;
  color: #ffffff;
  font-weight: 500;
}

.snackbar-warning {
  background-color: #ffd740;
  color: #ffffff;
  font-weight: 500;
}

.snackbar-confirm {
  /* background-color: #ffd740; */
  color: #ffffff;
  font-weight: 500;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}

.color_accent {
  color: #ffd740 !important;
}

.color_primary {
  color: #673ab7 !important;
}

.color_warn {
  color: #f44336 !important;
}

.cursor_pointer {
  cursor: pointer;
}

.header-img {
  width: 100%;
  margin-top: 10px;
}

.loader_bg{
  position: fixed;
  background-color:#f3f3f3;
  z-index: 999999;
  width: 100%;
  height: 100%;
}

.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader::before, .loader::after{
  content: '';
  border: 1em solid #673ab7;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader::before{
  animation-delay: .5s;
}

@keyframes loader{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  0%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}
