.mycontainer{
  margin-top: 5rem;
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
}

.mygridlist{
  height: 100%;
}

.title{
  text-align: center;
}

.tableheader{
  background-color: lightgrey;
}

.tableheadercell{
  font-size: 1rem;
  color: #673ab7;
}

.tablerow:hover{
  /* border: 2px gray solid; */
  /* border-radius: 5px; */
  font-weight: bold;
  padding-bottom: 5px;
  -webkit-box-shadow: inset 0px 0px 75px -63px rgba(104,58,183,0.98);
-moz-box-shadow: inset 0px 0px 75px -63px rgba(104,58,183,0.98);
box-shadow: inset 0px 0px 75px -63px rgba(104,58,183,0.98);

}
