<h2 mat-dialog-title>Login from here</h2>

<form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-dialog-content>
    <div class="mycontainer">
      <!-- <h2 class="example-full-width, form_header">Register From Here</h2> -->

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input formControlName="username" matInput type="text" value="pvkshanuka@gmail.com" required />
        <mat-error align="end" *ngIf="username.errors?.required">Email is required</mat-error>
        <mat-error align="end" *ngIf="username.errors?.email">Invalid email</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" value="1222222" required />
        <mat-error align="end" *ngIf="password.errors?.required">Password is required</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid || inProcess"
      [class.spinner]="inProcess">
      Login
    </button>
  </mat-dialog-actions>
</form>
