.header{
    padding: 5px 20px;
    background: royalblue;
}

.title{
    color: aliceblue;
    text-decoration: none;
}

.login,.register{
    float: right;
    text-decoration: none;
    color: aliceblue;
    padding-top: 10px;
}

<<<<<<< HEAD
.new-post{
=======
.logout, .new-post{
>>>>>>> 915292cb496ecc187fee2cec86c649076bab19f4
  float: right;
  color: aliceblue;
  padding-top: 10px;
}
