<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="myspacer"></span>
    <span>E-Channeling</span>
    <!-- <span *ngIf="userDetails">{{userDetails.name}}</span> -->

    <span class="example-spacer"></span>
    <div class="nav_item" routerLink="/home" routerLinkActive="active"><span>Home</span></div>
    <!-- <div class="nav_item" routerLink="/channelling" routerLinkActive="active"><span>Channelling</span></div> -->
    <!-- <div class="nav_item" routerLink="/doctor" routerLinkActive="active"><span>Doctor</span></div> -->
    <!-- <div class="nav_item" routerLink="/hospital" routerLinkActive="active"><span>Hospital</span></div> -->
    <div class="nav_item" (click)="openLoginDialog()"  *ngIf="!userDetails"><span>Login</span></div>
    <div class="nav_item" (click)="openSignUpDialog()"  *ngIf="!userDetails"><span>Sign Up</span></div>
    <div class="nav_item" (click)="openLoginDialog()"  *ngIf="userDetails"><span>Log Out</span></div>
    <div class="nav_item" routerLink="/user" *ngIf="userDetails && userDetails.type == '3'" routerLinkActive="active"><span>Profile</span></div>

    <!-- <button mat-button (click)="openLoginDialog()" >Login</button>
    <button mat-button (click)="openSignUpDialog()">Sign-Up</button> -->
    <span class="myspacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
